#notifikasi{
animation-name: notifikasi;
animation-duration: 3s;
visibility:hidden;
}

@keyframes notifikasi {
    0%   {visibility:visible;opacity:0.1;}
    25%  {visibility:visible;opacity:1;}
    50%  {visibility:visible;opacity:1;}
    75%  {visibility:visible;opacity:1;}
    100% {visibility:hidden;opacity:0;}
}

select:required:invalid {
  color: gray;
}
option[value=""][disabled] {
  display: none;
}
option {
  color: black;
}

#crew{
width:120px;
height:160px;
}

#chat-foto{
width:50px;
height:66px;
}

#carousel-example-generic{
width:851;
margin-bottom:30px;
}

.no-padding{
padding:0px;
}

#sidebar-admin{
background:#B16086;
height:100%;
position:fixed;
left:0;
top:0;
}
#content-admin{
margin-left:300px;
height:100%;
background:#F1F1F1;
}

#nav-pandan > li > a{
background:#B16086;
color:white;
}

#nav-pandan > li > a:hover,
#nav-pandan > li > a:focus{
background:#F2CFE0;
color:black;
}

.btn-circle {
  width: 49px;
  height: 49px;
  text-align: center;
  padding: 5px 0;
  font-size: 20px;
  line-height: 2.00;
  border-radius: 30px;
}

.btn-circle-micro {
  width: 22px;
  height: 22px;
  text-align: center;
  padding: 1px 0;
  font-size: 13px;
  line-height: 0.1;
  border-radius: 30px;
}

.btn-circle-sm {
  width: 32px;
  height: 32px;
  text-align: center;
  padding: 2px 0;
  font-size: 20px;
  line-height: 1.65;
  border-radius: 30px;
}

.btn-circle-micro > .sosmed{
  width: 19px;
  height: 19px;
}

.btn-circle-micro > .sosmed:hover{
  width: 22px;
  height: 22px;
}

.btn-circle-lg {
  width: 79px;
  height: 79px;
  text-align: center;
  padding: 13px 0;
  font-size: 30px;
  line-height: 2.00;
  border-radius: 70px;
}

.navbar-toggle {
    width: 100%;
    float: none;
    margin-right: 0;
}

.dropdown-menu {
color: #fff !important;
background-color: #B16086;
right:0;min-width:130px;
}
.dropdown-submenu{
position:relative;
}
.dropdown-submenu>.dropdown-menu{
top:0;left:100%;margin-top:-6px;margin-left:-1px;-webkit-border-radius:0 6px 6px 6px;-moz-border-radius:0 6px 6px 6px;border-radius:0 6px 6px 6px;}
.dropdown-submenu:hover>.dropdown-menu{
display:block;}

.dropdown-submenu.pull-left{
float:none;}.dropdown-submenu.pull-left>.dropdown-menu{left:-100%;margin-left:10px;-webkit-border-radius:6px 0 6px 6px;-moz-border-radius:6px 0 6px 6px;border-radius:6px 0 6px 6px;}

#icon-big{
font-size:72;
}

#gallery > img{
width:250px;
height:250px;
cursor:pointer;
}

#ket_gambar{
width:250px;
height:100px;
}

#caption {
  background: rgba(80, 80, 80, 0.7);
  bottom: 0;
  color: white;
  font-size: 1em;
  left: 0;
  opacity: 0;
  overflow: hidden;
  padding: 3.75em 3em;
  position: absolute;
  text-align: center;
  top: 0;
  right: 0;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#morenews{
  color:#fff;
  background-color: #76284C;  
  padding-top: 30px;
  padding-bottom: 50px;
}

#morenews .title hr{
  border-top: solid 5px #fff;
}


#gallery {
  display: inline-block;
  position: relative;
  vertical-align: top;
}

#caption:hover{
opacity: 1;
}

#footer{
background-color:#D08AAB;
}

.album{
  color:#333333;
  width: 100%;
  height: 200px;
  border: 5px solid;
  line-height: 190px;
  font-size:20px;
}


.album:hover{
  font-size:23px;
}

.title hr{
  margin: 10px auto 50px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px #333333;
    text-align: center;
}

.profiles h3{
  background-color: #76284C;
  color:#fff;
}

  .more-news-index{
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: transparent;
  color: #242729;
  border-top:0;
  border-left:0;
  border-right:0;
  border-bottom:5px solid #242729;
}

.more-news-index:hover{
  border-bottom:6px solid #242729;
  background-color: transparent;
}

.intro {
    background-color: #D08AAB;
    color: #eee;
  }